@{
    ViewData["Title"] = "Home Page";
}

<from asp-action="Index">
       <label>Nhập họ tên:</label>
       <input type="text" name="FullName">
       <label>Nhập địa chỉ:</label>
       <input type="text" name="Address">
       <input type="submit" value="Gửi dữ liệu"
</from>

<h1>@ViewBag.Message</h1>